[submodule "segment-anything"]
	path = segment-anything
	url = https://github.com/facebookresearch/segment-anything.git
[submodule "EgoObjects"]
	path = EgoObjects
	url = git@github.com:facebookresearch/EgoObjects.git
